<%- include("header.ejs")-%>

<h1 id="heading">To do list</h1>
<p>You can add your work here</p>
<button type="button" name="button">
<a href="list.ejs">Click to Start</a>
</button>

<%- include("footer.ejs") -%>
